<!DOCTYPE html>
<html>
  <head>
    <title>SocialRed</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
      <%= render 'partials/nav' %>
      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
      </main>
    </div>
    <p style="<%= 'display:none;' if notice.nil? && alert.nil? %>">
      <%= notice %><%= alert %>
    </p>
  </body>
</html>
